<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>关于我们</title>
    <link rel="shortcut icon" href="../assets/img/ico.png"/>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/animate.min.css">

    <link href="../assets/css/style.css" rel="stylesheet">
    <script src="../assets/js/jquery-3.3.1.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>

    <script src="../assets/js/angular.min.js"></script>
    <script src="../assets/js/angular-sanitize.min.js"></script>
    <script src="../assets/js/commonApp.js"></script>
    <script src="../assets/js/catalog.js"></script>

    <script src="../assets/js/jquery.aniview.js"></script>

    <script>
        bodyApp = angular.module('bodyapp', ['commonApp', 'ngSanitize']);
    </script>
</head>
<body ng-app="bodyapp" ng-cloak>
<nav ng-controller="headerCtrl" class="navbar navbar-inverse navbar-fixed-top site-navbar">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./"><img src="../assets/img/logo.png"/></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="index.html">{{catalog.index}}</a></li>
            <li class="active"><a href="aboutus.html">{{catalog.aboutus}}</a></li>
            <li><a href="businessoverview.html">{{catalog.business}}</a></li>
            <li><a href="investorrelation.html">{{catalog.investor}}</a></li>
            <li><a href="">{{catalog.crm}}</a></li>
            <li><a href="media.html">{{catalog.media}}</a></li>
            <li><a href="job.html">{{catalog.employ}}</a></li>
            <li><a href="contactus.html">{{catalog.contact}}</a></li>
        </ul>
    </div>
    <div class="navbar-language">
        <span ng-class="{'active':language=='EN'}" ng-click="witchLanguage('EN')">EN</span>
        <span ng-class="{'active':language=='SCN'}" ng-click="witchLanguage('SCN')">简</span>
        <span ng-class="{'active':language=='TCN'}" ng-click="witchLanguage('TCN')">繁</span>
    </div>
</nav>
<div class="body-wrapper" ng-controller="wrapperCtrl" ng-cloak>
    <div class="banner-container">
        <img src="../assets/img/banner1.jpg"/>
    </div>
    <div class="tabs-container" id="tabsCont">
        <div class="tabs-nav">
            <div class="tabs-nav-inner">
                <a data-href="#one" class="nav-item active">{{catalog.enterprise}}</a>
                <a data-href="#two" class="nav-item ">{{catalog.develop}}</a>
                <a data-href="#three" class="nav-item">{{catalog.team}}</a>
            </div>
        </div>
        <div class="tabs-panel aboutus-panels">
            <div class="tab-panel active" data-role="one">
                <div class="overview-container" ng-class="{'mobile': clientFlag,'client': !clientFlag}">
                    <div class="container" ng-class="{'en':language=='EN'}">
                        <div class="view-item">
                            <div class="text" data-rw="animate" data-animate="fadeInLeft" data-duration="1s" data-delay="0s">
                                <h4 class="title">{{catalog.overview.title}}</h4>
                                <p>{{catalog.overview.content[0]}}</p>
                                <p>{{catalog.overview.content[1]}}</p>
                            </div>
                            <img src="../assets/img/overview1.png" data-rw="animate" data-animate="fadeInRight" data-duration="1s" data-delay="0s"/>
                        </div>

                        <div class="view-item">
                            <div class="text" data-rw="animate" data-animate="fadeInRight" data-duration="1s" data-delay="0.2s">
                                <p>{{catalog.overview.content[2]}}</p>
                                <p>{{catalog.overview.content[3]}}</p>
                            </div>
                            <img src="../assets/img/overview2.png" data-rw="animate" data-animate="fadeInUp" data-duration="1s" data-delay="0.2s"/>
                        </div>

                        <div class="view-item" id="view-img" data-rw="animate" data-animate="fadeInRight" data-duration="1s" data-delay="0.1s">
                            <div class="text" id="view-imgtext">
                                <p>{{catalog.overview.content[4]}}</p>
                            </div>
                            <img src="../assets/img/overview3.png"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-panel" data-role="two">
                <div class="develop-container">
                    <h4 class="title">{{catalog.develop}}</h4>
                    <div class="container">
                        <div class="develop-scroll" ng-class="{'client': !clientFlag}">
                            <div id="develop-view" class="develop-timeline" ng-class="{'vert-timeline': clientFlag,'horiz-timeline':!clientFlag}">
                                <div class="timeline-item">
                                    <div class="item-inner" data-rw="animate" data-animate="fadeInDown" data-duration="1s" data-delay="0s">
                                        <div class="time">2010年1月</div>
                                        <div class="text">朱先生于上海浦东成立本公司为 中外合资 有限公司，初始注册资本为 3,000,000美元，获批准在中国提供投资管理服务。
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-item">
                                    <div class="item-inner" data-rw="animate" data-animate="fadeInUp" data-duration="1s" data-delay="0.1s">
                                        <div class="time">2010年9月</div>
                                        <div class="text">我们与中信信托有限责任公司签订合作，以管理投资于天津地区及杭州地区的三个不动产投资项目基金。</div>
                                    </div>
                                </div>
                                <div class="timeline-item">
                                    <div class="item-inner" data-rw="animate" data-animate="fadeInDown" data-duration="1s" data-delay="0.2s">
                                        <div class="time">2013年12月</div>
                                        <div class="text">我们成立第一支非项目专用母基金「母基金I」。</div>
                                    </div>
                                </div>
                                <div class="timeline-item">
                                    <div class="item-inner" data-rw="animate" data-animate="fadeInUp" data-duration="1s" data-delay="0.3s">
                                        <div class="time">2014年2月</div>
                                        <div class="text">我们与中国不动产开发商前一百强龙记地产集团股份有限公司订立战 略合作关系，并就其西安国会山项目筹集项目基金。</div>
                                    </div>
                                </div>
                                <div class="timeline-item" data-rw="animate" data-animate="fadeInDown" data-duration="1s" data-delay="0.4s">
                                    <div class="item-inner">
                                        <div class="time">2014年5月</div>
                                        <div class="text">我们根据中国当时执行的《私募证券投资基金业务监督管理暂行办法》，
                                            获得中国证券投资基金业协会颁发的《私募投资基金管理人登记证明》。
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-item" data-rw="animate" data-animate="fadeInUp" data-duration="1s" data-delay="0.5s">
                                    <div class="item-inner">
                                        <div class="time">2015年1月</div>
                                        <div class="text">我们发起首支契约基金「厚 誉 二 号」，其为年内实施的中国私募股权基金管理规范规定的全新基金类型。</div>
                                    </div>
                                </div>
                                <div class="timeline-item" data-rw="animate" data-animate="fadeInDown" data-duration="1s" data-delay="0.6s">
                                    <div class="item-inner">
                                        <div class="time">2015年12月</div>
                                        <div class="text">当时最大一支基金的管理资产新田360项目达约人民币539,000,000元。</div>
                                    </div>
                                </div>
                                <div class="timeline-item" data-rw="animate" data-animate="fadeInUp" data-duration="1s" data-delay="0.7s">
                                    <div class="item-inner">
                                        <div class="time">2016年1月</div>
                                        <div class="text">本公司由有限公司转型为股份有限公司，且本公司更名为上海瑞威资产管理股份有限公司。</div>
                                    </div>
                                </div>
                                <div class="timeline-item">
                                    <div class="item-inner">
                                        <div class="time">2016年3月</div>
                                        <div class="text">我们成立北京瑞威商务咨询以扩大业务覆盖的地理范围。</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="develop-btns" ng-hide="clientFlag">
                            <span class="prev-btn"></span>
                            <span class="next-btn"></span>
                        </div>
                    </div>

                    <div class="award-record">
                        <div class="container">
                            <h4 data-rw="animate" data-animate="fadeInUp" data-duration="1s" data-delay="0s">
                                {{catalog.award.title}}</h4>
                            <div>
                                <p ng-bind="catalog.award.content[0]" data-rw="animate" data-animate="fadeInUp" data-duration="1s" data-delay="0.3s"></p>
                                <p ng-bind="catalog.award.content[1]" data-rw="animate" data-animate="fadeInUp" data-duration="1s" data-delay="0.4s"></p>
                                <p ng-bind="catalog.award.content[2]" data-rw="animate" data-animate="fadeInUp" data-duration="1s" data-delay="0.5s"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-panel" data-role="three">
                <div class="team-container">
                    <h4 class="title">{{catalog.team}}</h4>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3 col-md-3" ng-repeat="item in catalog.teamdetail.teamusers"
                                    data-rw="animate" data-animate="fadeInUp" data-duration="1s" data-delay="{{(Math.floor($index/4)+1)*0.1}}s">
                                <div class="team-item">
                                    <img err-src="../assets/img/team/team1.png" src="../assets/img/team/team{{$index+1}}.png"/>
                                    <div class="name" ng-bind="item.name"></div>
                                    <div class="post" ng-bind="item.position"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row descript">
                            <div class="col-xs-12 col-sm-10 col-md-8 col-xs-offset-0 col-sm-offset-1 col-md-offset-2">
                                <p data-rw="animate" data-animate="fadeInUp" data-duration="1s" data-delay="0.3s">
                                    {{catalog.teamdetail.content}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer" ng-controller="footerCtrl" ng-cloak>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12 footer__item--other text-center" ng-class="{'col-lg-3':language!='EN'}">
                <img src="../assets/img/logo-foot.png"/>
                <div class="footer_child">
                    <p>关联子公司：</p>
                    <a href="https://www.jsrxfund.com/" target="_blank"><img src="../assets/img/childcomp.png"/></a>
                </div>
            </div>
            <div class="col-md-9 col-sm-12 footer-nav" ng-class="{'col-lg-8':language!='EN'}">
                <div class="footer__item">
                    <h3 class="footer__title">{{catalog.index}}</h3>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="/product/" class="footer__list-link">{{catalog.index}}</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__item">
                    <h3 class="footer__title">{{catalog.aboutus}}</h3>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="/integrations/" class="footer__list-link">{{catalog.enterprise}}</a>
                        </li>

                        <li class="footer__list-item">
                            <a href="/slack" class="footer__list-link">{{catalog.develop}}</a>
                        </li>

                        <li class="footer__list-item">
                            <a href="/customers/" class="footer__list-link">{{catalog.team}}</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__item">
                    <h3 class="footer__title">{{catalog.business}}</h3>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="/case-studies/" class="footer__list-link">{{catalog.layout}}</a>
                        </li>

                        <li class="footer__list-item">
                            <a href="/pricing/" class="footer__list-link">{{catalog.distribution}}</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__item">
                    <h3 class="footer__title">{{catalog.investor}}</h3>
                    <ul class="footer__list">

                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">{{catalog.message}}</a>
                        </li>

                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">{{catalog.notice}}</a>
                        </li>

                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">{{catalog.report}}</a>
                        </li>

                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">{{catalog.film}}</a>
                        </li>

                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">{{catalog.govern}}</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">{{catalog.prospectus}}</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">{{catalog.search}}</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__item">
                    <h3 class="footer__title">{{catalog.crm}} </h3>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">{{catalog.crm}}</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__item">
                    <h3 class="footer__title">{{catalog.media}}</h3>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="/case-studies/" class="footer__list-link">{{catalog.video}}</a>
                        </li>

                        <li class="footer__list-item">
                            <a href="/pricing/" class="footer__list-link">{{catalog.mediaq}}</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__item">
                    <h3 class="footer__title">{{catalog.employ}}</h3>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">{{catalog.employ}}</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__item">
                    <h3 class="footer__title">{{catalog.contact}}</h3>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">{{catalog.general}}</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="footer__copy">Copyright © 2013 - 3018 瑞威资本 沪ICP备12613926号-1 上海瑞威资本</div>
    </div>
</footer>
</body>
<script>
    $(function () {
        var options = {
            animateThreshold: 0,
            scrollPollInterval: 20
        };
        $('[data-rw="animate"]').AniView(options);

        $("#view-imgtext").css("height", $("#view-img").width() * 0.25 + "px");
    });

    bodyApp.controller("headerCtrl", function ($scope, $rootScope) {
        console.log("header controller");
        document.title = $rootScope.catalog.aboutus;
        //点击切换语言
        $rootScope.witchLanguage = function (code) {
            $rootScope.initLanguage(code);
            setCookie("language", code, 7);
            document.title = $rootScope.catalog.aboutus;
        };

    });
    bodyApp.controller("wrapperCtrl", function ($scope, $rootScope) {
        console.log("wrapper controller");

//        $("#tabsCont").tabinit();
        // tab,animation初始化

        //初始化发展历程
        $scope.developTotal = 9;
        $scope.dpstart = true;
        $scope.dpend = false;
        $scope.initDevelop = function () {
            if (!$rootScope.clientFlag) {
                var total_w = $scope.developTotal * 150 + 200;
                var outer_w = $(".overview-container .container").outerWidth() - 30;
                var even_H = 0, odd_H = 0;
                var scroll_flag = false;
                if (total_w > outer_w) {
                    $("#develop-view").css('width', total_w);
                    scroll_flag = true;
                } else {
                    $("#develop-view").css('width', outer_w);
                }
                $(".timeline-item").each(function (index, obj) {
                    var curr_H = $(obj).outerHeight(true);
                    if (index % 2 == 0) {
                        even_H = even_H > curr_H ? even_H : curr_H;
                    } else {
                        odd_H = odd_H > curr_H ? odd_H : curr_H;
                    }
                });
                $(".timeline-item:odd").css("height", odd_H + "px");//奇数
                $(".timeline-item:even").css("height", even_H + "px");//偶数

                var scroll_node = $("#develop-view"), margin_left = 0,
                    scroll_w = 450;
                $(".develop-btns .prev-btn").click(function () {
                    margin_left = parseInt(scroll_node.css('marginLeft'));
                    // console.log(margin_left);
                    if (!$scope.dpstart && margin_left < 0) {
                        $scope.dpend = false;
                        if (margin_left + scroll_w < 0) {
                            margin_left += scroll_w;
                            $scope.dpstart = false;
                        } else {
                            margin_left = 0;
                            $scope.dpstart = true;
                        }
                        scroll_node.animate({
                            marginLeft: margin_left
                        }, 300, 'linear');
                        /*scroll_node.css({
                            marginLeft: margin_left
                        });*/
                    }
                });
                $(".develop-btns .next-btn").click(function () {
                    margin_left = parseInt(scroll_node.css('marginLeft'));
                    // console.log(margin_left);
                    if (!$scope.dpend) {
                        $scope.dpstart = false;
                        if ((scroll_w - margin_left + outer_w) > total_w) {
                            margin_left = outer_w - total_w;
                            $scope.dpend = true;
                        } else {
                            margin_left -= scroll_w;
                            $scope.dpend = false;
                        }
                        scroll_node.animate({
                            marginLeft: margin_left
                        }, 300, 'linear');
                        /*scroll_node.css({
                            marginLeft: margin_left
                        });*/
                    }
                });
            }
        };
        $scope.initDevelop();

        //获奖记录
        // $scope.award = $rootScope.catalog.award;
        //团队成员
        $scope.teamusers = $rootScope.catalog.teamdetail.teamusers;
    });

    bodyApp.controller("footerCtrl", function ($scope, $rootScope) {
        console.log("footer controller");
    });
</script>
</html>