<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>联系我们</title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/animate.min.css">

    <link href="../assets/css/style.css" rel="stylesheet">
    <script src="../assets/js/jquery-3.3.1.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>

    <script src="../assets/js/angular.min.js"></script>
    <script src="../assets/js/angular-sanitize.min.js"></script>
    <script src="../assets/js/commonApp.js"></script>
    <script src="../assets/js/catalog.js"></script>
    <!--地图-->
    <script type="text/javascript" src="//api.map.baidu.com/api?ak=E4805d16520de693a3fe707cdc962045&type=lite&v=1.0"></script>


    <script>
        bodyApp = angular.module('bodyapp', ['commonApp','ngSanitize']);
    </script>
</head>
<body ng-app="bodyapp" ng-cloak>
<nav ng-controller="headerCtrl" class="navbar navbar-inverse navbar-fixed-top site-navbar">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./"><img src="../assets/img/logo.png"/></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="">{{catalog.index}}</a></li>
            <li><a href="">{{catalog.aboutus}}</a></li>
            <li><a href="">{{catalog.business}}</a></li>
            <li><a href="">{{catalog.investor}}</a></li>
            <li><a href="">{{catalog.crm}}</a></li>
            <li><a href="">{{catalog.media}}</a></li>
            <li><a href="">{{catalog.employ}}</a></li>
            <li class="active"><a href="">{{catalog.contact}}</a></li>
        </ul>
    </div>
    <div class="navbar-language">
        <span ng-class="{'active':language=='EN'}" ng-click="witchLanguage('EN')">EN</span>
        <span ng-class="{'active':language=='SCN'}" ng-click="witchLanguage('SCN')">简</span>
        <span ng-class="{'active':language=='TCN'}" ng-click="witchLanguage('TCN')">繁</span>
    </div>
</nav>
<div class="body-wrapper" ng-controller="wrapperCtrl">
    <div class="banner-container">
        <img src="../assets/img/investor_bn.png"/>
    </div>

    <div class="contact-container">
        <div class="row contact-address" id="contactAddr">
            <div class="col-sm-12 col-md-6" data-rw="animate" data-animate="fadeInLeft" data-duration="1s" data-delay="0s">
                <div id="map" class="contact-map row" style="height: 420px;"></div>
            </div>
            <div class="col-sm-12 col-md-6" data-rw="animate" data-animate="fadeInRight" data-duration="1s" data-delay="0s">
                <div class="company-info">
                    <h4 class="name">{{catalog.company.info.name}}<span class="light-grey">（{{catalog.company.info.type}}）</span></h4>
                    <div class="info-items">
                        <div class="row">
                            <div class="col-xs-12"><span class="item light-grey">{{catalog.company.detail[0].key}}</span>{{catalog.company.detail[0].value}}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5" ng-class="{'col-xs-7': $index%2!=0,'col-xs-5': $index%2==0}" ng-repeat="item in catalog.company.detail|startFrom:1">
                                <span class="item light-grey">{{item.key}}</span>{{item.value}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="company-child" ng-repeat="item in catalog.company.list"
                    data-rw="animate" data-animate="fadeInUp" data-duration="1s" data-delay="{{$index*0.1}}s">
                <div class="row">
                    <div class="col-sm-8 col-md-4 name">{{item.name}}</div>
                    <div class="col-sm-4 col-md-2 light-grey">（{{item.type}}）</div>
                    <div class="col-sm-12 col-md-6">{{item.addrkey}}：{{item.address}}</div>
                </div>
            </div>
        </div>
    </div>

</div>
<footer class="footer" ng-controller="footerCtrl">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 footer__item--other">
                <img src="../assets/img/logo.png"/>
                <p>
                    关联子公司：<a href="/privacy.html" class="footer__list-link">Privacy Policy</a>
                </p>
            </div>
            <div class="col-lg-10 col-md-9  col-sm-12 footer-nav">
                <div class="footer__item">
                    <h3 class="footer__title">{{catalog.index}}</h3>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="/product/" class="footer__list-link">{{catalog.index}}</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__item">
                    <h3 class="footer__title">{{catalog.aboutus}}</h3>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="/integrations/" class="footer__list-link">{{catalog.enterprise}}</a>
                        </li>

                        <li class="footer__list-item">
                            <a href="/slack" class="footer__list-link">{{catalog.develop}}</a>
                        </li>

                        <li class="footer__list-item">
                            <a href="/customers/" class="footer__list-link">{{catalog.team}}</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__item">
                    <h3 class="footer__title">{{catalog.business}}</h3>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="/case-studies/" class="footer__list-link">{{catalog.layout}}</a>
                        </li>

                        <li class="footer__list-item">
                            <a href="/pricing/" class="footer__list-link">{{catalog.distribution}}</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__item">
                    <h3 class="footer__title">{{catalog.investor}}</h3>
                    <ul class="footer__list">

                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">{{catalog.message}}</a>
                        </li>

                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">{{catalog.notice}}</a>
                        </li>

                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">{{catalog.report}}</a>
                        </li>

                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">{{catalog.film}}</a>
                        </li>

                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">{{catalog.govern}}</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">{{catalog.prospectus}}</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">{{catalog.search}}</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__item">
                    <h3 class="footer__title">{{catalog.crm}} </h3>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">{{catalog.crm}}</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__item">
                    <h3 class="footer__title">{{catalog.media}}</h3>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="/case-studies/" class="footer__list-link">{{catalog.video}}</a>
                        </li>

                        <li class="footer__list-item">
                            <a href="/pricing/" class="footer__list-link">{{catalog.mediaq}}</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__item">
                    <h3 class="footer__title">{{catalog.employ}}</h3>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">{{catalog.employ}}</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__item">
                    <h3 class="footer__title">{{catalog.contact}}</h3>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">{{catalog.general}}</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="footer__copy">Copyright © 2013 - 3018 瑞威资本 沪ICP备12613926号-1 上海瑞威资本</div>
    </div>
</footer>
</body>
<script>
    bodyApp.controller("headerCtrl", function ($scope, $rootScope) {
        console.log("header controller");
        document.title = $rootScope.catalog.contact;
        //点击切换语言
        $rootScope.witchLanguage = function (code) {
            $rootScope.initLanguage(code);
            setCookie("language", code, 7);
            document.title = $rootScope.catalog.contact;
        };
    });
    bodyApp.controller("wrapperCtrl", function ($scope, $rootScope) {
        console.log("wrapper controller");

        //地图初始化
        var map = new BMap.Map("map");
        map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);
        //初始化控件
        var zoomCtrl = new BMap.ZoomControl({anchor: BMAP_ANCHOR_BOTTOM_RIGHT, offset: new BMap.Size(20, 20)});
        var scaleCtrl = new BMap.ScaleControl();
        map.addControl(zoomCtrl);
        map.addControl(scaleCtrl);
    });

    bodyApp.controller("footerCtrl", function ($scope, $rootScope) {
        console.log("footer controller");
    });
</script>
</html>