<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="shortcut icon" href="../assets/img/ico.png"/>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/animate.min.css">

    <link href="../assets/css/style.css" rel="stylesheet">
    <script src="../assets/js/jquery-3.3.1.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>

    <script src="../assets/js/angular.min.js"></script>
    <script src="../assets/js/angular-sanitize.min.js"></script>
    <script src="../assets/js/commonApp.js"></script>
    <script src="../assets/js/catalog.js"></script>
    <script src="../assets/js/jquery.aniview.js"></script>

    <script>
        bodyApp = angular.module('bodyapp', ['commonApp','ngSanitize']);
    </script>
</head>
<body ng-app="bodyapp" ng-cloak>
<nav ng-controller="headerCtrl" class="navbar navbar-inverse navbar-fixed-top site-navbar">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"data-rw="animate" data-animate="fadeInLeft" data-duration="1s" data-delay="0s">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./"><img src="../assets/img/logo.png"/></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="index.html">{{catalog.index}}</a></li>
            <li><a href="aboutus.html">{{catalog.aboutus}}</a></li>
            <li><a href="businessoverview.html">{{catalog.business}}</a></li>
            <li><a href="investorrelation.html">{{catalog.investor}}</a></li>
            <li><a href="">{{catalog.crm}}</a></li>
            <li><a href="media.html">{{catalog.media}}</a></li>
            <li class="active"><a href="job.html">{{catalog.employ}}</a></li>
            <li><a href="contactus.html">{{catalog.contact}}</a></li>
        </ul>
    </div>
    <div class="navbar-language">
        <span ng-class="{'active':language=='EN'}" ng-click="witchLanguage('EN')">EN</span>
        <span ng-class="{'active':language=='SCN'}" ng-click="witchLanguage('SCN')">简</span>
        <span ng-class="{'active':language=='TCN'}" ng-click="witchLanguage('TCN')">繁</span>
    </div>
</nav>
<div class="body-wrapper" ng-controller="wrapperCtrl">
    <div class="banner-container">
        <img src="../assets/img/banner5.jpg"/>
    </div>
    <div class="job-container">
        <div class="row">
            <div class="col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
                <div class="job-item" data-rw="animate" data-animate="fadeInUp" data-duration="1s" data-delay="0s">
                    <h4 class="title">投资管培生/实习生</h4>
                    <div class="desc light-grey">
                        <span>需求人数：6-8人</span>
                        <span>工作地点：上海/北京等</span>
                    </div>
                    <div class="job-need">
                        <h4 class="light-grey">岗位描述：</h4>
                        <div class="content">
                            <ul>
                                <li>1、认同公司及其合作伙伴的企业文化；</li>
                                <li>2、学历大专（或同等学历）及以上，18-28周岁，超龄勿扰；</li>
                                <li>3、有一定的计算机基础，想获得一份有长远发展、稳定、有晋升空间的工作,热爱IT行业；</li>
                                <li>4、学习能力强，工作热情高，富有责任感，工作认真、细致、敬业，责任心强；</li>
                            </ul>
                        </div>
                    </div>
                    <div class="job-need">
                        <h4 class="light-grey">岗位要求：</h4>
                        <div class="content">
                            <ul>
                                <li>专业：金融、财务、经济、法律等</li>
                                <li>学历：本科</li>
                            </ul>
                        </div>
                    </div>
                    <div class="job-need">
                        <h4 class="light-grey">知识技能：</h4>
                        <div class="content">
                            <ul>
                                <li>掌握offer软件，特别是powerpoint、excel技能扎实；</li>
                                <li>具备基本财务技能，熟悉财务报表</li>
                            </ul>
                        </div>
                    </div>
                    <div class="job-need">
                        <h4 class="light-grey">素质要求：</h4>
                        <div class="content">
                            <ul>
                                <li>1、认同公司及其合作伙伴的企业文化；</li>
                                <li>2、学历大专（或同等学历）及以上，18-28周岁，超龄勿扰；</li>
                                <li>3、有一定的计算机基础，想获得一份有长远发展、稳定、有晋升空间的工作,热爱IT行业；</li>
                                <li>4、学习能力强，工作热情高，富有责任感，工作认真、细致、敬业，责任心强；</li>
                            </ul>
                        </div>
                    </div>
                    <div class="job-contact">
                        简历投递 Email: realway@realwaycapital.com
                    </div>
                </div>
                <div class="job-item" data-rw="animate" data-animate="fadeInUp" data-duration="1s" data-delay="0.1s">
                    <h4 class="title">投资管培生/实习生</h4>
                    <div class="desc light-grey">
                        <span>需求人数：6-8人</span>
                        <span>工作地点：上海/北京等</span>
                    </div>
                    <div class="job-need">
                        <h4 class="light-grey">岗位描述：</h4>
                        <div class="content">
                            <ul>
                                <li>1、认同公司及其合作伙伴的企业文化；</li>
                                <li>2、学历大专（或同等学历）及以上，18-28周岁，超龄勿扰；</li>
                                <li>3、有一定的计算机基础，想获得一份有长远发展、稳定、有晋升空间的工作,热爱IT行业；</li>
                                <li>4、学习能力强，工作热情高，富有责任感，工作认真、细致、敬业，责任心强；</li>
                            </ul>
                        </div>
                    </div>
                    <div class="job-need">
                        <h4 class="light-grey">岗位要求：</h4>
                        <div class="content">
                            <ul>
                                <li>专业：金融、财务、经济、法律等</li>
                                <li>学历：本科</li>
                            </ul>
                        </div>
                    </div>
                    <div class="job-need">
                        <h4 class="light-grey">知识技能：</h4>
                        <div class="content">
                            <ul>
                                <li>掌握offer软件，特别是powerpoint、excel技能扎实；</li>
                                <li>具备基本财务技能，熟悉财务报表</li>
                            </ul>
                        </div>
                    </div>
                    <div class="job-need">
                        <h4 class="light-grey">素质要求：</h4>
                        <div class="content">
                            <ul>
                                <li>1、认同公司及其合作伙伴的企业文化；</li>
                                <li>2、学历大专（或同等学历）及以上，18-28周岁，超龄勿扰；</li>
                                <li>3、有一定的计算机基础，想获得一份有长远发展、稳定、有晋升空间的工作,热爱IT行业；</li>
                                <li>4、学习能力强，工作热情高，富有责任感，工作认真、细致、敬业，责任心强；</li>
                            </ul>
                        </div>
                    </div>
                    <div class="job-contact">
                        简历投递 Email: realway@realwaycapital.com
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer" ng-controller="footerCtrl" ng-cloak>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12 footer__item--other text-center" ng-class="{'col-lg-3':language!='EN'}">
                <img src="../assets/img/logo-foot.png"/>
                <div class="footer_child">
                    <p>关联子公司：</p>
                    <a href="https://www.jsrxfund.com/" target="_blank"><img src="../assets/img/childcomp.png" /></a>
                </div>
            </div>
            <div class="col-md-9 col-sm-12 footer-nav" ng-class="{'col-lg-8':language!='EN'}">
                <div class="footer__item">
                    <h3 class="footer__title">{{catalog.index}}</h3>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="/product/" class="footer__list-link">{{catalog.index}}</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__item">
                    <h3 class="footer__title">{{catalog.aboutus}}</h3>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="/integrations/" class="footer__list-link">{{catalog.enterprise}}</a>
                        </li>

                        <li class="footer__list-item">
                            <a href="/slack" class="footer__list-link">{{catalog.develop}}</a>
                        </li>

                        <li class="footer__list-item">
                            <a href="/customers/" class="footer__list-link">{{catalog.team}}</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__item">
                    <h3 class="footer__title">{{catalog.business}}</h3>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="/case-studies/" class="footer__list-link">{{catalog.layout}}</a>
                        </li>

                        <li class="footer__list-item">
                            <a href="/pricing/" class="footer__list-link">{{catalog.distribution}}</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__item">
                    <h3 class="footer__title">{{catalog.investor}}</h3>
                    <ul class="footer__list">

                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">{{catalog.message}}</a>
                        </li>

                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">{{catalog.notice}}</a>
                        </li>

                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">{{catalog.report}}</a>
                        </li>

                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">{{catalog.film}}</a>
                        </li>

                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">{{catalog.govern}}</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">{{catalog.prospectus}}</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">{{catalog.search}}</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__item">
                    <h3 class="footer__title">{{catalog.crm}} </h3>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">{{catalog.crm}}</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__item">
                    <h3 class="footer__title">{{catalog.media}}</h3>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="/case-studies/" class="footer__list-link">{{catalog.video}}</a>
                        </li>

                        <li class="footer__list-item">
                            <a href="/pricing/" class="footer__list-link">{{catalog.mediaq}}</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__item">
                    <h3 class="footer__title">{{catalog.employ}}</h3>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">{{catalog.employ}}</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__item">
                    <h3 class="footer__title">{{catalog.contact}}</h3>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="" class="footer__list-link">{{catalog.general}}</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="footer__copy">Copyright © 2013 - 3018 瑞威资本 沪ICP备12613926号-1 上海瑞威资本</div>
    </div>
</footer>
</body>
<script>
    bodyApp.controller("headerCtrl", function ($scope, $rootScope) {
        console.log("header controller");
        document.title = $rootScope.catalog.employ;
        //点击切换语言
        $rootScope.witchLanguage = function (code) {
            $rootScope.initLanguage(code);
            setCookie("language", code, 7);
            document.title = $rootScope.catalog.employ;
        };
    });
    bodyApp.controller("wrapperCtrl", function ($scope, $rootScope) {
        console.log("wrapper controller");

// tab,animation初始化
        $(function () {
            var options = {
                animateThreshold: 0,
                scrollPollInterval: 20
            };
            $('[data-rw="animate"]').AniView(options);
        });

    });

    bodyApp.controller("footerCtrl", function ($scope, $rootScope) {
        console.log("footer controller");
    });
</script>
</html>